template(name="search_list")
	+if data
		+each data
			.row
				.col-md-10.col-md-offset-1
					.panel
						.panel-body
							.media
								a(href="/protocol/{{protocol_id}}")
									img.pull-left.img-responsive(src="{{meta.protocol_img}}" style="max-width: 15%; padding-right: .5em;")
								.media-body
									h4.media-heading
										| {{protocol_name}}
										small
											| {{meta.authors}}
